DocFormatter/~$a.docx
DocFormatter/~$M Doc 005 - Verification, Review & Evaluation v5.docx
*.log
.metadata/
RemoteSystemsTempFiles
*.class
*.class
*.classpath
DocFormatter/.classpath
DocFormatter/.classpath
*.class
*.classpath
DocFormatter/v1HSM Doc 005 - Verification, Review & Evaluation v5.docx
*.project
*.class
DocFormatter/bin/DocFormatter.class
*.docx
